<div *ngIf="loading" class="loader-container">
  <div class="spinner"></div>
</div>

<div *ngIf="!loading">
<button class="create-book-btn button" (click)="openModal()">Create Student</button>
</div>

<div *ngIf="!loading && students.length > 0; else noData">
  <h2>Students List</h2>
  <table class="students-table">
    <thead>
    <tr>
      <th>#</th> <!-- Index column -->
      <th>Name</th>
      <th>Admission Number</th>
      <th>Actions</th> <!-- Added actions column -->
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of students; let i = index">
      <td>{{ i + 1 + (page * size) }}</td> <!-- Adjust index for current page -->
      <td>{{ student.name }}</td>
      <td>{{ student.admNo }}</td>
      <td>
        <button class="btn view-btn" (click)="viewStudentDetails(student.admNo)">View</button>
        <button class="btn update-btn" (click)="confirmUpdate(student)">Update</button>
        <!-- Conditionally hide the delete button if the user doesn't have the required role -->
        <button class="btn delete-btn" (click)="confirmDelete(student)" *ngIf="canDelete">Delete</button>

      </td>
    </tr>
    </tbody>
  </table>

  <!-- Pagination Controls -->
  <div class="pagination-controls">
    <button class="prev-button" (click)="changePage(page - 1)" [disabled]="page === 0">Previous</button>
    <span>Page {{ page + 1 }} of {{ totalPages }}</span>
    <button class="next-button" (click)="changePage(page + 1)" [disabled]="page + 1 >= totalPages">Next</button>
  </div>
</div>

<ng-template #noData>
  <div *ngIf="!loading">
    <p *ngIf="!errorMessage" >No students available.</p>
    <p *ngIf="errorMessage">{{ errorMessage }}</p>
  </div>
</ng-template>

<!-- Confirmation Modal -->
<div *ngIf="showDeleteModal" class="modal">
  <div class="modal-content">
    <h3>Confirm Delete</h3>
    <p>Are you sure you want to delete {{ selectedStudent?.name }}?</p>
    <div class="modal-actions">
      <button class="btn confirm-btn" (click)="deleteConfirmed()">Yes delete</button>
      <button class="btn cancel-btn" (click)="cancelDelete()">No</button>
    </div>
  </div>
</div>




<!-- Create Student Modal -->
<div *ngIf="showCreateModal" class="modal" [ngClass]="{'closing': isClosing}">
  <div class="modal-content">
    <h3>Create Student Details</h3>
    <form (ngSubmit)="registerNewStudent()">
      <div class="modal-body">

        <label for="name">Name</label>
        <input id="name" name="name" [(ngModel)]="newStudent.name" type="text" placeholder="Enter student name" />



        <label for="admNo">Admission Number</label>
        <input id="admNo" name="admNo" [(ngModel)]="newStudent.admNo" type="text" placeholder="Enter admission number" />


      <!-- Course dropdown selection field -->
        <label for="course">Course</label>
        <select id="course" [(ngModel)]="newStudent.course" name="course" required>
          <option *ngFor="let course of courses" [value]="course.id">
            {{ course.name }}
          </option>
        </select>

      </div>


    <!-- Modal actions for Save and Cancel buttons -->
    <div class="modal-actions">
      <button
        type="submit"
        class="btn save-btn"
        [disabled]="creatingStudent">
        <span *ngIf="creatingStudent">Loading...</span>
        <span *ngIf="!creatingStudent">Save</span>
      </button>
      <button class="btn cancel-btn" (click)="closeModal()">Cancel</button>
    </div>

    </form>
  </div>
</div>


