<div class="container">
  <!-- Sidebar -->
  <aside class="sidebar">
    <nav class="nav">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="students">Students</a></li>
        <li><a routerLink="library">Library</a></li>
      </ul>
    </nav>

    <!-- Logout button placed at the bottom of the sidebar -->
    <div class="logout-section">
      <button *ngIf="isAuthenticated" (click)="logout()">Logout</button>
    </div>
  </aside>

  <!-- Content Area -->
  <div class="content">
<!--    <header class="header">-->
<!--      <h1>Welcome to the Dashboard</h1>-->
<!--    </header>-->

    <main class="main-content">
      <router-outlet></router-outlet> <!-- This will load the routed components -->
    </main>
  </div>
</div>
