<div *ngIf="loading" class="loader-container">
  <div class="spinner"></div>
</div>

<div *ngIf="!loading && students.length > 0; else noData">
  <h2>Students Lists</h2>
  <table class="students-table">
    <thead>
    <tr>
      <th>#</th> <!-- Index column -->
      <th>Name</th>
      <th>Admission Number</th>
      <!-- Add more columns as per your API response -->
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of students; let i = index" (click)="viewStudentDetails(student.admNo)">
      <td>{{ i + 1 }}</td>
      <td>{{ student.name }}</td>
      <td>{{ student.admNo }}</td>
    </tr>

    </tbody>
  </table>
</div>

<ng-template #noData>
  <p *ngIf="!errorMessage">No students available.</p>
  <p *ngIf="errorMessage">{{ errorMessage }}</p>
</ng-template>
